---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Prose from '../../components/Prose.astro';

export const getStaticPaths = async () => {
	const posts = await getCollection('posts');
	const paths = posts.map((posts: CollectionEntry<'posts'>) => ({
		params: {
			slug: posts.slug
		},
		props: {
			posts
		}
	}));
	return paths;
};

type Props = {
	posts: CollectionEntry<'posts'>;
};

const { posts } = Astro.props;
const { Content } = await posts.render();
---

<Layout title={`Blog | ${posts.data.title}`}>
	<div class="mb-8">
		<div class="flex gap-2">
			{posts.data.tags.map((tag) => <span class="text-xs font-light text-zinc-400">{tag}</span>)}
		</div>
		<h1 class="text-3xl font-bold">{posts.data.title}</h1>
		<p class="text-sm font-light text-zinc-400">
			Published {new Date(posts.data.date).toLocaleDateString('de-DE')}
		</p>
	</div>
	<Prose>
		<Content />
	</Prose>
</Layout>
