---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('posts');

const getAllYearsFromPosts = () => {
	const years = posts.map((posts) => {
		return posts.data.date.getFullYear();
	});
	years.sort((a, b) => b - a);
	return [...new Set(years)];
};

const getPostsByYear = (year) => {
	return posts.filter((posts) => {
		return posts.data.date.getFullYear() === year;
	});
};
---

<Layout title='Blog | Ugur Sadiklar'>
	<h1 class='mb-10 text-4xl font-bold'>Blog</h1>
	<ul>
		{
			getAllYearsFromPosts().map((year) => (
				<li>
					<h2 class='mb-5 mt-10 text-2xl font-bold'>{year}</h2>
					<ul>
						{getPostsByYear(year).map((post) => (
							<li>
								<div class='mb-5 w-fit transform rounded-2xl border border-zinc-800 bg-zinc-900 bg-opacity-25 p-3 shadow-2xl transition duration-500 hover:scale-105'>
									<a
										class='text-xl font-semibold hover:text-gray-300'
										href={`/posts/${post.slug}`}>
										{post.data.title}
									</a>

									{/* <p>{post.data.description}</p> */}
									<p class='text-xs text-zinc-400'>
										Published {post.data.date.toLocaleDateString('de-DE')}
									</p>
								</div>
							</li>
						))}
					</ul>
				</li>
			))
		}
	</ul>
</Layout>
