---
import './../styles/globals.css';
import Layout from '../layouts/Layout.astro';
import IndexTitle from '../components/IndexTitle.astro';
import PostsTable from '../components/PostsTable.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import { getCollection } from 'astro:content';

let amountPosts = 0;
let amountProjects = 0;

const projects = await getCollection('projects').then((projects) => {
	if (projects.length > 4) {
		amountProjects = projects.length;
		return projects.slice(0, 3);
	} else {
		return projects;
	}
});
const posts = await getCollection('posts').then((posts) => {
	if (posts.length > 3) {
		amountPosts = posts.length;
		return posts.slice(0, 3);
	} else {
		return posts;
	}
});
---

<Layout title='Ugur Sadiklar'>
	<div>
		<h1 class='mb-8 text-3xl font-semibold'>Hello, I'm Ugur 👋</h1>
		<p class='mb-8 text-lg'>
			I'm a passionate full-stack web developer and recent graduate in business informatics. My
			journey into the world of coding started a few years ago and since then, I've been immersing
			myself in both frontend and backend development. I love the challenge, the creativity, and the
			constant learning that comes with this field.
		</p>
		<div class='mb-16'>
			<IndexTitle
				title='Projects'
				href='projects'
				viewAll={amountProjects > 4}
			/>
			<ProjectsGrid projects={projects} />
		</div>
		<div>
			<IndexTitle
				title='Latest Posts'
				href='blog'
				viewAll={amountPosts > 3}
			/>
			<PostsTable posts={posts} />
		</div>
	</div>
</Layout>
