---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const projects = await getCollection('projects');
---

<Layout title="Projects | Ugur Sadiklar">
	<h1>Projects</h1>
	<ul>
		{
			projects.map((project) => (
				<li>
					<a href={`/projects/${project.slug}`}>{project.data.title}</a>
				</li>
			))
		}
	</ul>
</Layout>
