---
import SkillCard from '../components/SkillCard.astro';
import WorkExperienceCard from '../components/WorkExperienceCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Work | Ugur Sadiklar'>
	<div class='mb-8'>
		<h2 class='mb-4 text-2xl font-bold'>Skills</h2>
		<div class='flex w-full flex-wrap gap-4'>
			<SkillCard
				logo='https://www.w3.org/html/logo/downloads/HTML5_Badge.svg'
				name='HTML'
			/>
			<SkillCard
				logo='https://upload.wikimedia.org/wikipedia/commons/6/62/CSS3_logo.svg'
				name='CSS'
			/>
			<SkillCard
				logo='https://tailwindcss.com/_next/static/media/tailwindcss-mark.3c5441fc7a190fb1800d4a5c7f07ba4b1345a9c8.svg'
				name='TailwindCSS'
			/>
			<SkillCard
				logo='https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png'
				name='JavaScript'
			/>
			<SkillCard
				logo='https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg'
				name='TypeScript'
			/>
			<SkillCard
				logo='https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg'
				name='React'
			/>
			<SkillCard
				logo='images/logos/nextjs-icon-dark-background.svg'
				name='Next.js'
			/>
			<SkillCard
				logo='https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg'
				name='Angular'
			/>
			<SkillCard
				logo='https://astro.build/assets/press/astro-icon-light-gradient.svg'
				name='Astro'
			/>
			<SkillCard
				logo='https://nodejs.org/static/logos/jsIconGreen.svg'
				name='NodeJS'
			/>
			<SkillCard
				logo='https://upload.wikimedia.org/wikipedia/commons/e/ee/.NET_Core_Logo.svg'
				name='ASP.NET Core'
			/>
			<SkillCard
				logo='https://upload.wikimedia.org/wikipedia/commons/b/bd/Logo_C_sharp.svg'
				name='C#'
			/>
			<SkillCard
				logo='https://raw.githubusercontent.com/prisma/presskit/main/Assets/Prisma-LightSymbol.svg'
				name='Prisma'
			/>
			<SkillCard
				logo='https://wiki.postgresql.org/images/a/a4/PostgreSQL_logo.3colors.svg'
				name='PostgreSQL'
			/>
			<SkillCard
				logo='https://upload.wikimedia.org/wikipedia/de/d/dd/MySQL_logo.svg'
				name='MySQL'
			/>
			<SkillCard
				logo='https://cdn.worldvectorlogo.com/logos/docker.svg'
				name='Docker'
			/>
			<SkillCard
				logo='images/logos/Amazon_Web_Services_Logo.svg'
				name='AWS'
			/>
			<SkillCard
				logo='https://git-scm.com/images/logos/downloads/Git-Icon-1788C.svg'
				name='Git'
			/>
			<SkillCard
				logo='https://cdn-lfs.huggingface.co/repos/96/a2/96a2c8468c1546e660ac2609e49404b8588fcf5a748761fa72c154b2836b4c83/942cad1ccda905ac5a659dfd2d78b344fccfb84a8a3ac3721e08f488205638a0?response-content-disposition=inline%3B+filename*%3DUTF-8%27%27hf-logo.svg%3B+filename%3D%22hf-logo.svg%22%3B&response-content-type=image%2Fsvg%2Bxml&Expires=1714268210&Policy=eyJTdGF0ZW1lbnQiOlt7IkNvbmRpdGlvbiI6eyJEYXRlTGVzc1RoYW4iOnsiQVdTOkVwb2NoVGltZSI6MTcxNDI2ODIxMH19LCJSZXNvdXJjZSI6Imh0dHBzOi8vY2RuLWxmcy5odWdnaW5nZmFjZS5jby9yZXBvcy85Ni9hMi85NmEyYzg0NjhjMTU0NmU2NjBhYzI2MDllNDk0MDRiODU4OGZjZjVhNzQ4NzYxZmE3MmMxNTRiMjgzNmI0YzgzLzk0MmNhZDFjY2RhOTA1YWM1YTY1OWRmZDJkNzhiMzQ0ZmNjZmI4NGE4YTNhYzM3MjFlMDhmNDg4MjA1NjM4YTA%7EcmVzcG9uc2UtY29udGVudC1kaXNwb3NpdGlvbj0qJnJlc3BvbnNlLWNvbnRlbnQtdHlwZT0qIn1dfQ__&Signature=VJXU6i7uMYvmp%7E3yVPwiG1ee-4k97H1jhJKb5ViU6SiAgrnRzNw-S2bYY4gHHTh5SHRZwuUv4cuMwSNpitzbHojMyTSc7sbltjMBsDAjHLeLYH-6LrwiQfc8wRa5cxQlK32m5b0bqQEPtKK6eqpfRpBaYy4h%7EmHqXXFT5%7ENr3BYNIdV9EeypnZrmZJKwnXJ6rgUq2TiNStU-D6jnDph13bg7UL8IOiYq5fVVIS5HotXdGbBA3exGsXKV1iIARfWrFLA8G8mOj6GbYkimaxJCXp6cDLWun1RiU7utWeocVwvJRe2d-fv%7EyYB0IDXbDsY-r1LJwAwRUFzWapCn4a7W-w__&Key-Pair-Id=KVTP0A1DKRTAX'
				name='Hugging Face'
			/>
			<SkillCard
				logo='https://socket.io/images/logo-dark.svg'
				name='SocketIO'
			/>
		</div>
	</div>
	<div class='mb-8'>
		<h2 class='mb-4 text-2xl font-bold'>Experience</h2>
		<div class='flex flex-col gap-8'>
			<WorkExperienceCard
				company='PricewaterhouseCoopers GmbH'
				companyShort='PwC'
				logo='images/companies/PricewaterhouseCoopers_Logo.svg'
				location='Düsseldorf, Germany'
				position='Software Developer Intern'
				startDate={new Date(2022, 8, 1)}
				endDate={new Date(2023, 1, 0)}>
				<ul class='flex list-inside list-disc flex-col gap-4 text-sm'>
					<li>Development of Special Funds Reporting (SFR) Tool</li>
					<li>Contributed to designing functionality for the project "Rule Assistant"</li>
					<li>Development of Chatbot Olivia</li>
					<li>Initiation and Development of Corporate Treasury Services (CTS) Tool</li>
					<li>Tools: Angular (Typescript), ASP.NET Core (C#), MSSQL, Microsoft Azure</li>
				</ul>
			</WorkExperienceCard>
		</div>
	</div>
</Layout>
