---

---

<aside class="-ml-[8px] mb-16 mt-16 tracking-tight">
	<div class="lg:sticky lg:top-20">
		<nav
			class="fade relative flex scroll-pr-6 flex-row items-start px-0 pb-0 font-semibold md:relative md:overflow-auto"
			id="nav"
		>
			<div class="flex flex-row space-x-0 pr-10">
				<a
					class="relative flex px-2 py-1 align-middle transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
					href="/">home</a
				><a
					class="relative flex px-2 py-1 align-middle transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
					href="/projects">projects</a
				><a
					class="relative flex px-2 py-1 align-middle transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
					href="/blog">blog</a
				>
			</div>
		</nav>
	</div>
</aside>
