---

---

<div
	class="prose tracking-tight
  dark:prose-invert prose-h1:text-xl
  prose-h1:font-bold prose-p:text-justify
  prose-a:text-blue-600 prose-img:rounded-xl prose-img:shadow-xl"
>
	<slot />
</div>
