---

---

<div
	class={`prose prose-lg
  prose-invert prose-p:text-justify prose-h3:text-lg 
  prose-h3:font-normal prose-h3:underline
  prose-h1:text-3xl prose-h1:font-bold
  prose-h2:text-2xl prose-h2:font-bold
  prose-a:text-blue-600 prose-a:no-underline
  prose-img:rounded-xl prose-img:shadow-xl 
  prose-code:text-[14px]`}
>
	<slot />
</div>
