---

---

<div
	class={`prose prose-lg
  prose-invert prose-p:text-justify 
  prose-a:text-blue-600 prose-a:no-underline
  prose-headings:text-2xl prose-img:rounded-xl 
  prose-img:shadow-xl`}
>
	<slot />
</div>
