---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions, slide } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hey I'm Ugur, a full-stack software developer." />
		<meta name="viewport" content="width=device-width" />
		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="Portfolio" />
		<meta property="og:description" content="Hey I'm Ugur, a full-stack software developer." />
		<meta property="og:image" content="/favicon.webp" />
		<meta property="og:url" content="ugursadiklar.de" />
		<meta property="og:type" content="website" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Portfolio" />
		<meta name="twitter:description" content="Hey I'm Ugur, a full-stack software developer." />
		<meta name="twitter:image" content="/favicon.webp" />

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<div class="m-auto flex h-dvh flex-col justify-between p-8 xl:w-[40%] xl:p-0">
			<Navigation />
			<div class="mb-10 flex-grow" transition:animate={slide({ duration: '0.5s' })}>
				<slot />
			</div>
			<Footer />
		</div>
		<style is:global>
			html {
				font-family: 'Arvo', 'JetBrains Mono', sans-serif;
				color: white;
				background: rgb(10, 10, 10);
				background-image: radial-gradient(rgb(37, 37, 37) 1px, transparent 0);
				background-size: 30px 30px;
				background-position: -19px -19px;
			}
			body {
				margin: 0;
				padding: 0;
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
			.no-scrollbar::-webkit-scrollbar {
				display: none;
			}

			/* Hide scrollbar for IE, Edge and Firefox */
			.no-scrollbar {
				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */
			}
		</style>
	</body>
</html>
